
.navbar{
    background-color: bisque;
    padding: 12px;
}

.navbar .nav-item a{
   
    text-decoration: none;
    color: black;
    font-weight: 700;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.navbar .nav-item a:hover{
    background-color: rgb(60, 39, 5);
    color: rgb(255, 255, 255);
}

.navbar-nav .nav-item {
    
    margin-left: 300px;
    margin-right: 200px; 

  }