

  mat-toolbar{
    justify-content: space-between;
    height: 80px;
}

input{
    width: 400px;
    height: 40px;
    border: 1px;
    border-radius: 4px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: medium;
}